/* src/styles/History.css */

.history-container {
    max-width: 800px;

    margin: 4rem auto;
    padding: 20px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .history-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: #222;
    text-align: center;
  }
  .dnt-title{
    text-align: center;
    font-size: medium;
    padding-bottom: 10px;
  }
  .history-empty {
    text-align: center;
    color: #888;
    font-size: 1rem;
  }
  
  .history-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .history-card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    padding: 20px 25px;
    border-left: 6px solid #B4F461; 
    transition: transform 0.2s ease;
  }
  
  .history-card:hover {
    transform: translateY(-3px);
  }
  
  .history-cause {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
  }
  
  .highlight {
    color: #569671; 
    font-weight: 700;
  }
  
  .history-amount {
    font-size: 1rem;
    color: #444;
    margin-bottom: 6px;
  }
  
  .history-date {
    font-size: 0.9rem;
    color: #888;
  }
  